<div class="container" style="padding-top: 80px; padding-bottom: 80px;">
  <h2>Blog</h2>
  <hr>
  <div class="row">
    <% @lectures.each do |lecture| %>
    <%= link_to lecture do %>
    <div class="col-sm-12 col-md-4">
      <div class="number" style="background-color: black;">
        <h2 class="text-center" style="color: white;"><%= lecture.number %></h2>
      </div>
      <div style="">
        <h2><i class="fas fa-sd-card"></i> <%= lecture.title %></h2>
        <div style="padding-left: 30px;">
          <p><i class="far fa-file-alt"></i> <%= lecture.lenght %> | <i class="fas fa-language"></i> ES | <i class="fas fa-pen-alt"></i> <%= lecture.writter %> <br> - <%= lecture.description %></p>
        </div>
      </div>
      <% end %>
      <% end %>
    </div>
  </div>
  <hr>
</div>

