<div class="container" style="padding-top: 80px; padding-bottom: 80px;">
<h2><%= @lecture.title %></h2>
<hr>
<div class="text-center">
<%= @lecture.video.html_safe %>
<hr>
<p><i class="far fa-file-alt"></i> <%= @lecture.lenght %> | <i class="fas fa-language"></i> ES | <i class="fas fa-pen-alt"></i> <%= @lecture.writter %> </p>
</div>
<div>
<%= @lecture.content.html_safe %>
</div>
<hr>
</div>
