<div class="container" style="padding-top: 80px; padding-bottom: 80px;">
<h2><%= @lecture.title %></h2>
<hr>
<div class="text-center">
  <div class="number" style="background-color: black;">       <h2 class="text-center" style="color: white;"><%= @lecture.number %></h2>     </div>
<hr>
<p><i class="far fa-file-alt"></i> <%= @lecture.lenght %> | <i class="fas fa-language"></i> ES | <i class="fas fa-pen-alt"></i> <%= @lecture.writter %> </p>
</div>
<div>
<%= @lecture.content.html_safe %>
</div>
  <br>
  <br>
  <br>
  <%= @lecture.video.html_safe %>
  <br>
  <br>
  <div class="text-center">
    <br>
    <img src="https://clipartart.com/images/slack-logo-clipart-transparent-2.png" alt="" height="60px">
    <br>
    <br>
    <p>¡Unete a nuestro canal de slack! Por allí podremos responder cualquier pregunta que tengas sobre las lecturas o el proyecto.  También podras encontraras a mas personas aprendiendo, compartiendo y desorrollando. Queremos poder unir a todos nuestros lectores en un espacio donde puedan compartir sus opiniones y se ayuden a crecer unos a otros. </p>
    <a href="https://join.slack.com/t/bmoprojectworkspace/shared_invite/zt-fg7okvhg-mQedNmfvd~ijbhFXjB~oOQ" target="_blank"><h6 class="btn btn-dark ">
    JOIN NOW</h6></a>
  </div>
<hr>
</div>
