<div class="container" style="padding-top: 100px; padding-bottom: 100px;">
  <h2>Temas</h2>
  <hr>
  <% @themes.each do |theme| %>
  <p> <strong><%= theme.title %></strong> - <%= link_to 'Show', theme %> | <%= link_to 'Edit', edit_theme_path(theme) %> | <%= link_to 'Destroy', theme, method: :delete, data: { confirm: 'Are you sure?' } %>
  </p>
  <% end %>
  <%= link_to 'New Post', new_theme_path %>
  <br>
  <hr>
</div>

