<div class="container" style="padding-top:100px; padding-bottom: 100px;">
   <h3>Cursos</h3>
   <hr>
  <div class="row">
   <div class="col-lg-2">
    <div data-toggle="collapse" href="#collapse1">
      <h5>Categorias <i class="fas fa-caret-down"></i> </h5>
    </div>
    <div id="collapse1" class="panel-collapse collapse">
      <hr>
      <ul class="list-group">
        <li class="">
          <%= link_to "/" do %>
          <p class="">All</p>
          <% end %>
        </li>
        <% @topics.each do |topic| %>
        <li class="">
          <%= link_to topic do %>
          <p class=""><%= topic.title%></p>
          <% end %>
        </li>
        <%end%>
      </ul>
      <hr>
    </div>
  </div>
  <div class="col-sm-10">
    <div id="home" class="container tab-pane active">
      <% @themes.each do |theme| %>
      <h2 class=""><%= theme.icon.html_safe %> <%= theme.title%></h2>
      <% theme.posts.each do |post|%>
      <div style="padding-left: 15px;">
        <%= link_to post do %>
        <h5><i class="fas fa-film"></i> <%= post.title %></h5>
        <div style="padding-left: 15px;">
          <p>- <%= post.description %> </p>
        </div>
        <%  end%>
      </div>
      <% end %>
      <% end %>
    </div>
  </div>
</div>
<hr>
</div>
