<div class="container" style="padding-top:100px; padding-bottom: 100px;">
   <h3><%= @topic.title %></h3>
   <hr>
  <div class="row">
   <div class="col-lg-2">
    <div data-toggle="collapse" href="#collapse1">
      <h5>Categorias <i class="fas fa-caret-down"></i> </h5>
    </div>
    <div id="collapse1" class="panel-collapse collapse">
      <hr>
      <ul class="list-group">
        <li class="">
          <%= link_to "/topics" do %>
          <p class="">All</p>
          <% end %>
        </li>
        <% @topics.each do |topic| %>
        <li class="">
          <%= link_to topic do %>
          <p class=""><%= topic.title%></p>
          <% end %>
        </li>
        <%end%>
      </ul>
      <hr>
    </div>
  </div>
  <div class="col-sm-10">
    <div id="home" class="container tab-pane active">
      <% @topic.themes.each do |theme| %>
      <div>
      <h2 class=""> <%= theme.icon.html_safe %> <%= theme.title%></h2>
      <% theme.posts.each do |post|%>
      <div style="padding-left: 30px;">
        <%= link_to post do %>
        <h3><i class="fas fa-sd-card"></i> <%= post.title %> </h3>
                <div style="padding-left: 30px;">
        <p class=""><i class="fas fa-hourglass-end"></i> <%= post.time %> | <i class="fas fa-language"></i> <%= post.language%> | <i class="fa fa-calendar"></i> <%= post.year %> <br> - <%= post.description %> </p>
        </div>
        <%  end%>
      </div>
      <% end %>
      </div>
      <br>
      <% end %>
    </div>
  </div>
</div>
<hr>
</div>
