<div class="container" style="padding-top: 100px; padding-bottom: 100px;">
  <h2>Lecturas</h2>
  <hr>
  <% @lectures.each do |lecture| %>
  <p> <strong><%= lecture.title %></strong> - <%= link_to 'Show', lecture %> | <%= link_to 'Edit', edit_lecture_path(lecture) %> | <%= link_to 'Destroy', lecture, method: :delete, data: { confirm: 'Are you sure?' } %>
  </p>
  <% end %>
  <%= link_to 'New Post', new_lecture_path %>
  <br>
  <hr>
</div>
