<div class="banner" style="background-color: black;">
  <div>
    <div class="hidden-xs hidden-sm">
      <%= image_tag("logo.png")%>
    </div>
    <br>
    <h1>BMO Project</h1>
    <hr style="background-color:white; ">
    <h5>Aprende · Comparte · Desarrolla</h5>
    <i class="fa fa-angle-double-down symbols" aria-hidden="true"></i>
  </div>
</div>
<div class="container" style="padding-top: 50px; padding-bottom: 50px;">
<div class="text-center">
  <h2>Aprende Online</h2>
  <hr>
  <h1>Cuéntanos <strong>qué</strong> quieres hacer y <br> te diremos <strong>qué</strong> aprender.</h1>
  <p>A través de nuestra experencia y con el uso de herramientas digitales, queremos ayudarte a emprender y crecer como persona. Cuéntanos qué quieres hacer y te enviaremos una guía detallada explicandote que y porqué debes aprender.</p>
  <hr>
   <div class="text-center"><a href="/bmos/new"><p class="btn btn-dark">BMO</p> </a></div>
</div>
</div>
<div style="background-color: black;">
  <div class="container" style="padding-top: 100px; padding-bottom: 100px;">
    <div class=" text-center suscribe">
     <a href="https://www.twitch.tv/bmoproject"><h2 class= "" style="">EPISODIOS</h2></a>
   </div>
 </div>
</div>
<div class="container" style="padding-top: 50px; padding-bottom: 50px;">
  <br>
  <h2>Lecturas</h2>
  <hr>
  <div class="row">
   <% @lectures.each do |lecture| %>
   <div class="col-sm-12 col-md-4">
    <%= link_to lecture do %>
    <div class="number" style="background-color: black;">
      <h2 class="text-center" style="color: white;"><%= lecture.number %></h2>
    </div>
    <div style="">
      <h3><i class="fas fa-sd-card"></i> <%= lecture.title %></h3>
      <div style="padding-left: 30px;">
        <p><i class="far fa-file-alt"></i> <%= lecture.lenght %> | <i class="fas fa-language"></i> ES | <i class="fas fa-pen-alt"></i> <%= lecture.writter %> <br> - <%= lecture.description %></p>
      </div>
    </div>
  </div>
  <% end %>
  <% end %>
</div>
<hr>
<div class="text-center"><a href="/lectures"><p class="btn btn-dark">Todos</p> </a></div>
</div>
<div style="background-color: black;">
  <div class="container" style="padding-top: 100px; padding-bottom: 100px;">
    <div class=" text-center suscribe">
     <a href="/subscriptions/new"><h2 class= "" style="">COMUNIDAD</h2></a>
   </div>
 </div>
</div>
<div class="container" style="padding-top:100px; padding-bottom: 100px;">
 <h2>Ultimo Tutorial</h2>
 <hr>
 <div class="row">
   <div class="col-lg-2">
    <div data-toggle="collapse" href="#collapse1">
      <h5>Categorias <i class="fas fa-caret-down"></i> </h5>
    </div>
    <div id="collapse1" class="panel-collapse collapse">
      <hr>
      <ul class="list-group">
        <li class="">
          <%= link_to "/topics" do %>
          <p class="">All</p>
          <% end %>
        </li>
        <% @topics.each do |topic| %>
        <li class="">
          <%= link_to topic do %>
          <p class=""><%= topic.title%></p>
          <% end %>
        </li>
        <%end%>
      </ul>
      <hr>
    </div>
  </div>
  <div class="col-sm-10 ">
    <div id="home" class="container tab-pane active">
      <h2 class=""><%= @post.theme.icon.html_safe %> <%= @post.theme.title%></h2>
      <div style=" padding-left: 30px;">
        <%= link_to @post do %>
        <h5><i class="fas fa-sd-card"></i> <%= @post.title %></h5>
        <div style=" padding-left: 10px;">
          <p class=""> <i class="fas fa-hourglass-end"></i> <%= @post.time %> | <i class="fas fa-language"></i> <%= @post.language%> | <i class="fa fa-calendar"></i> <%= @post.year %> <br>
           - <%=@post.description %> </p>
         </div>
         <% end%>
       </div>
     </div>
   </div>
 </div>
 <hr>
</div>



