<p id="notice"><%= notice %></p>

<h1>Suscribes</h1>

<table>
  <thead>
    <tr>
      <th>Email</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @suscribes.each do |suscribe| %>
      <tr>
        <td><%= suscribe.email %></td>
        <td><%= link_to 'Show', suscribe %></td>
        <td><%= link_to 'Edit', edit_suscribe_path(suscribe) %></td>
        <td><%= link_to 'Destroy', suscribe, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Suscribe', new_suscribe_path %>
