<%= simple_form_for(@bmo) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
    <%= f.input :name %>
    <%= f.input :email %>
    <%= f.input :category, :collection => %w[Programacion Desarrollo-Web  Desarrollo-de-aplicaciones-moviles] %>
    <br>
    <h5>Agenda tu Sesión</h5>
    <p>Cuentanos que dias estas disponible para una llamada.</p>
    <%= f.input :date %>
    <%= f.input :time %>
    <br>
    <h5>¿Cual es tu meta?</h5>
    <p>Cuentanos que te gustaria desarrollar o aprender.</p>
    <%= f.input :answer %>
    <h5>¿Porque?</h5>
    <%= f.input :reason %>
  </div>
<br>
  <div class="form-actions">
    <%= f.button :submit, class: "btn btn-dark" %>
  </div>
<% end %>
