<div class="container" style="padding-top: 100px; padding-bottom: 100px;">

  <h1>Tutoriales</h1>
  <hr>
  <% @posts.each do |post| %>
  <p><strong><%= post.title %></strong>  - <%= link_to 'Show', post %> | <%= link_to 'Edit', edit_post_path(post) %> | <%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %>
  </p>
  <% end %>
  <%= link_to 'New Post', new_post_path %>
  <br>
<hr>

</div>
