<div class="container" style="padding-top: 80px; padding-bottom: 80px;">
  <h2><%= @post.title %></h2>
  <hr>
  <div class="text-center">
    <%= @post.video.html_safe %>
  </div>
  <hr>

  <p class="text-center"><i class="fas fa-hourglass-end"></i> <%= @post.time %> | <i class="fas fa-language"></i> <%= @post.language%> | <i class="fa fa-calendar"></i> <%= @post.year %> </p>
  <br>
  <div>
    <%= @post.content.html_safe %>
  </div>
  <br>
  <br>
  <br>
  <div class="text-center">
    <br>
    <img src="https://clipartart.com/images/slack-logo-clipart-transparent-2.png" alt="" height="60px">
    <br>
    <br>
    <p>¡Unete a nuestro canal de slack! Por allí podremos responder cualquier pregunta que tengas sobre las lecturas o el proyecto.  También podras encontraras a mas personas aprendiendo, compartiendo y desorrollando. Queremos poder unir a todos nuestros lectores en un espacio donde puedan compartir sus opiniones y se ayuden a crecer unos a otros. </p>
    <a href="https://join.slack.com/t/bmoprojectworkspace/shared_invite/zt-fg7okvhg-mQedNmfvd~ijbhFXjB~oOQ" target="_blank"><h6 class="btn btn-dark ">
    JOIN NOW</h6></a>
  </div>
  <hr>
</div>


