<div class="container" style="padding-top: 80px; padding-bottom: 80px;">
  <h2><%= @post.title %></h2>
  <hr>
  <div class="text-center">
    <%= @post.video.html_safe %>
  </div>
  <hr>

  <p class="text-center"><i class="fas fa-hourglass-end"></i> <%= @post.time %> | <i class="fas fa-language"></i> <%= @post.language%> | <i class="fa fa-calendar"></i> <%= @post.year %> </p>
  <br>
  <div>
    <%= @post.content.html_safe %>
  </div>
</div>
