<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>BMO Project</title>
  <meta name="keywords" content="aprende, educacion, bmo, programacion, desarollo web, aplicaciones, javascript, python, php, go, ruby, django, ruby on rails, react, ionic, swift, flutter">
  <meta name="description" content="Educate online | Aprende · Comparte · Desarrolla">
  <meta name="author" content="Max The Dog">
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-171046186-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-171046186-1');
  </script>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
  <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
  <%= favicon_link_tag asset_path('logo.png') %>
</head>
<body class="Site">
  <%= render 'shared/navbar' %>
  <%= render 'shared/flashes' %>
  <main class="Site-content" style="padding-top: 50px;">
    <div class="content">
      <%= yield %>
    </div>
  </main>
  <%= render 'shared/footer' %>
</body>
</html>
