<!DOCTYPE html>
<html>
<head>
  <title>BMO Project</title>
  <meta name="keywords" content="aprende, educacion, bmo, programacion, desarollo web, aplicaciones, javascript, python, php, go, ruby, django, ruby on rails, react, ionic, swift, flutter">
  <meta name="description" content="Educate de gratis - Aprende - Comparte - Desarrolla">
  <meta name="author" content="Max The Dog">
  <meta name="author" content="John Doe">
  <meta http-equiv="refresh" content="400">



  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
  <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>

</head>

<body class="Site">
  <%= render 'shared/navbar' %>
  <%= render 'shared/flashes' %>
  <main class="Site-content" style="padding-top: 50px;">
    <div class="content">
      <%= yield %>
    </div>
  </main>
  <%= render 'shared/footer' %>
</body>
</html>
